@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Computer Institute</h1>
    <p class="lead">This is simple admin based portal to add data </p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wel come</h2>
        <p>
 
            Our teaching staff have extensive experience, combined with excellent academic backgrounds and strong links with the professions, while our qualifications have a strong practical and applied focus.

        

           
     

        </p>

    </div>
    <div class="col-md-4">
        <h2>An ISO-Certified 9001-2018 Computer Institute</h2>
        <p> This is simple portal of an Institute made to keep the record of Courses, Salary,Stafff and Student with the help of CRUD operation of Entity Framework..</p>
    
    </div>
    <div class="col-md-4">
       
        
    </div>
</div>